<div class="jumbotron text-center">
  <div class="container">
    <h1>BLOG APP</h1>
    <p>
      <%= link_to 'Sign Up Now', '#', class: "btn btn-primary btn-lg btn-sign", role: "button" %>
    </p>
</div>
</div>
<div class="para text-center">
  <div class="container">
    <p>
      Cras justo odio, dapibus ac facilisis in,<br> egestas eget quam.
      Donec id elit non mi porta gravida at eget metus.<br> Nullam id dolor id nibh ultricies vehicula ut id elit.
    </p>
  </div>
</div>
