<h1>showing article </h1>

<div>
  <p>
    Title = <%= @article.title %>
  </p>
  <p>
    Description = <%= @article.description %>
  </p>
  <%= link_to 'back to articles', articles_path %>
  <%= link_to 'edit', edit_article_path(@article) %>
</div>
