<div class="container text-center">
  <h1>All Users</h1>
  <div class="col-md-4 col-md-offset-4">
    <% @users.each do |eachUser| %>
      <div class="well well-lg">
        <div>
          <%= link_to gravatar_for(eachUser), user_path(eachUser) %>
        </div>
        <div>
          <%= link_to eachUser.username, user_path(eachUser) %>
        </div>
        <div class="small">
          <%= pluralize(eachUser.articles.count, "Article") if eachUser.articles %>
        </div>
      </div>
    <% end %>
  </div>
</div>
