<% if obj.errors.any? %>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            Solve <%= pluralize(obj.errors.count, "error") %> before saving the article
          </h3>
          <div class="panel-body">
            <p>
              <ul>
                <% obj.errors.full_messages.each do |msg| %>
                  <li>
                    <%= msg %>
                  </li>
                <% end %>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
